/text_processing_train.joblib
/text_processing_val.joblib
/text_processing_test.joblib
/my_bag_train.joblib
/my_bag_val.joblib
/my_bag_test.joblib
/tfidf_train.joblib
/tfidf.joblib
/tfidf_test.joblib
/tfidf_vocab.joblib
/tags_counts.joblib
/words_counts.joblib
/tfidf_val.joblib
/y_val_predicted_scores_tfidf.joblib
/y_val_predicted_scores_labels.joblib
/test_predictions_tfidf.joblib
/test_pred_inversed.joblib
